/* index.css */

/* Reseta margens e paddings e define o box-sizing para facilitar o dimensionamento */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define a fonte padrão para a aplicação e um fundo gradiente */
body {
  
  /* Fundo gradiente suave */
  background: linear-gradient(117deg, #000 0.02%, #1A1A1A 25.08%, #333 50.15%, #666 97.87%);

  /* Garante que o corpo ocupe toda a altura da tela */
  min-height: 100vh; /* garante altura mínima */
  background-attachment: fixed;
  
  font-family: Roboto;
  
}
